<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="./style.css" />
		<title>Hacker News</title>
	</head>
	<body ng-app="hackerNews">
		<nav class="navbar navbar-expand-lg nav-color">
			<div class="container-fluid">
				<a class="navbar-brand fw-bold" href="#">Hacker News</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" aria-current="page" href="#">New</a>
						<a class="nav-link" href="#"> Past</a>
						<a class="nav-link" href="#"> Comments</a>
						<a class="nav-link" href="#"> Ask</a>
						<a class="nav-link" href="#"> Show</a>
						<a class="nav-link" href="#"> Jobs </a>
						<a class="nav-link" href="#"> Submit</a>
					</div>
					<div class="navbar-nav ms-auto">
						<a class="nav-link" href="#">Login</a>
					</div>
				</div>
			</div>
		</nav>
		<section ng-controller="hackerNewsController">
			<div class="container-fluid main-container">
				<div class="row">
					<div class="col-12 p-4">
						<ul ng-repeat="news in hackerNews | limitTo : pageSize : start">
							<li>
								<a class="header" ng-href="{{news.url}}"
									>{{$index+1+start}}. {{news.title}}</a
								>
								<p class="sub-header">
									<span>{{news.score}} points | </span
									><span class="hovering">by {{news.by}} |</span>
									<span
										>{{timeConverter(news.time) | date:"dd/MM/yyyy"}} |
									</span>
								</p>
								<hr />
							</li>
						</ul>
						<div class="d-flex justify-content-center">
							<button class="btn btn-secondary mx-2" ng-click="previousPage()">
								Previous Page
							</button>
							<button class="btn btn-primary mx-2" ng-click="nextPage()">
								Next Page
							</button>
						</div>
					</div>
				</div>
				<hr class="bottom-hr" />
			</div>
		</section>
		<footer
			class="d-flex flex-column justify-content-center align-items-center"
		>
			<p class="footer-font">Applications are open for YC Winter 2023</p>
			<p class="footer-font text-center">
				Guidelines | FAQ | Lists | API | Security | Legal | Apply to YC |
				Contact
			</p>
			<div class="mb-3 footer-font">Search : <input type="search" /></div>
		</footer>

		<script src="./script.js"></script>
	</body>
</html>
