.nav-color {
    background-color: #ff6600;
}

.main-container {
    background-color: #f6f6ef;
}

li a {
    text-decoration: none;
    color: black;
}

.hovering:hover{
    text-decoration: underline;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.sub-header {
    color: gray;
    font-size: 12px;
}

.header {
    font-size: 14px;
}

.bottom-hr {
    border: 2px solid #ff6600;
}

.footer-font {
    font-size: 14px;
}